

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.logo_area{
	-fx-background-color:linear-gradient(to top left,#2a6994,#154e59);
}

.working_area{
	-fx-background-color:rgba(142, 194, 197, 0.307);
}

.drop-shadow {
    -fx-effect: dropshadow(gaussian, #29c2d6, 10, 0, 5, 10);
}